#justificar {
	text-align: justify;
	font-family: Helvetica;
}

#justificar2 {
	text-align: justify;
	font-family: Helvetica;
}

#justificar3 {
	text-align: justify;
	font-family: Helvetica;
}

#justificar4 {
	text-align: justify;
	font-family: Helvetica;
}

#justificar5 {
	text-align: justify;
	font-family: Helvetica;
}

#justificar6 {
	text-align: justify;
	font-family: Helvetica;
}

h4 {
	color: green;
	font-family: fantasy;
}