{% extends "index.html"%}

{% block contenido%}
<form action="{% url 'accesocat' %}" method="post">
	{% csrf_token %}
		<div>	
			<input type="hidden" name="txtId" class="from-control" value="{{ item.id }}">
		</div>

		<div>	
			<input type="hidden" name="txtNombre" class="from-control" value="{{ item.nombre }}">
		</div>

		<div>	
			<input type="hidden" name="txtPrecio" class="from-control" value="{{ item.precioVenta }}">
		</div>

		<div>	
			<input type="hidden" name="txtDescripcion" class="from-control" value="{{ item.descripcion }}">
		</div>
			
</form>
{% endblock %}

{% block listado %}
{% for fila in lista %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="prod">
	<div class ="row justify-content-center">
		<div>	
			<div class="table-responsive">
							<img src="{{ fila.imagen.url }}">
							<h3 style="color:brown">{{ fila.nombre }}</h3>
							<h4>${{ fila.precioVenta }}</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p>{{ fila.descripcion }}</p>
			</div>
		</div>
	</div>
</div>
	{% if forloop.counter|divisibleby:34 %}</div><div class="row">{% endif %}
	{% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}