{% extends "index.html" %}
{% load static %}
{% block contenido %}
<head>
	<link rel="stylesheet" href="{% static 'css/EstiloCompra.css' %}">
</head>

<br>
<div class ="row justify-content-center">
	<h2> Resultado de búsqueda </h2>
</div>
{% for mostrar in item %}
<div class="prod">
	<div class ="row justify-content-center">
		<div>	
			<div class="table-responsive">
							<h4>{{ mostrar.nombre }}</h4>
							<p>{{ mostrar.precioVenta }}</p>
							<button id="producto1" class="btn btn-warning">Agregar al Carrito</button>
							<p>{{ mostrar.descripcion }}</p>
{% endfor %}

{% for mostrar in desc %}
<div class="prod">
	<div class ="row justify-content-center">
		<div>	
			<div class="table-responsive">
							<h4>{{ mostrar.nombre }}</h4>
							<p>{{ mostrar.precioVenta }}</p>
							<button id="producto1" class="btn btn-warning">Agregar al Carrito</button>
							<p>{{ mostrar.descripcion }}</p>
{% endfor %}
{% endblock %}